* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0.5vmax;
}
::-webkit-scrollbar-thumb {
    background-color: #ffa21b;
}

nav {
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 10vh;
    width: 100%;
    padding: 0 4vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1 {
    font: 900 3.5vmax "Better Grade";
    letter-spacing: 5px;
    transition: 0.25s;
}

nav > h1:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav > h3 {
    cursor: pointer;
    font: 700 1.5vmax "montserrat";
}

.semi-circle {
    position: absolute;
    width: 30vmax;
    height: 15vmax;
    background-color: #ffa21b;
    border-radius: 15vmax 15vmax 0 0;
    bottom: 20%;
    left: 6%;
    transform: rotate(-45deg);
    z-index: -1;
}

.quarter {
    position: absolute;
    width: 15vmax;
    height: 15vmax;
    border-radius: 0 0 300px 0px;
    z-index: -1;
}

.quarter-circle1 {
    right: 10%;
    top: 10%;
    background-color: #e9c5d3;
    transform: rotate(-90deg);
}

.quarter-circle2 {
    right: 20%;
    bottom: 2%;
    background-color: #47a0e9;
    transform: rotate(30deg) scale(0.8);
}

.page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vmax;
}

.page h1 {
    text-align: center;
    font: 900 7vmax "montserrat";
    letter-spacing: -2px;
    line-height: 7vmax;
}

.p1-footer {
    font: 400 1.2vmax "serif";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-line {
    width: 5vmax;
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: end;
}

.p1-footer hr {
    border: none;
    width: 2px;
    height: 3vmax;
    background-color: black;
    animation: load 2s ease 1 both;
}

@keyframes load {
    0% {
        height: 3vmax;
    }
    50% {
        height: 0.5vmax;
    }
    100% {
        height: 3vmax;
    }
}

.p2-content {
    text-align: center;
}

.page2 h1 {
    margin: auto;
    width: 70%;
    text-align: center;
    font: 900 4vmax Serif;
    /* letter-spacing: -2px; */
    line-height: 3.5vmax;
}

.p2-content button {
    border-radius: 5vmax;
    padding: 1.5vmax 3vmax;
    font: 200 1.5vmax Serif;
    margin-top: 3vmax;
    background-color: #ffa527;
    border: none;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.p2-content button:hover {
    color: white;
}

.p2-content span {
    position: relative;
    z-index: 1000;
}

.p2-content button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 30%;
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    transition: 1s;
    transform: translateY(100px);
}

.p2-content button:hover::after {
    transform: translateY(0) scale(3);
}

.page3 {
    width: 100%;
    display: flex;
    padding-left: 8%;
    margin: 10% 0;
}

.p3-left {
    width: 50%;
    padding-right: 2vmax;
}

.p3l-subtitle {
    color: gray;
    font: 400 1vmax "montserrat";
}

.p3-left h1 {
    font: 900 3.5vmax "montserrat";
    line-height: 4vmax;
    margin: 2vmax 0;
}

.p3l-image {
    height: 60vh;
    width: 100%;
    background-image: url(https://www.forsmarsh.com/wp-content/uploads/2023/02/casestudy-ninds-preview.jpg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0 solid #ffa21b;
    border-right: 0 solid #ffa21b;
    transition: 0.5s all;
}

.p3l-image:hover {
    border-top: 1vmax solid #ffa21b;
    border-right: 1vmax solid #ffa21b;
}

.p3-left h3,
.p3-right h3 {
    margin: 2vmax 0;
    font: 500 2vmax "serif";
    line-height: 2vmax;
}

.p3l-date {
    color: gray;
    font: 400 1.5vmax "montserrat";
}

.p3-right {
    width: 50%;
}

.p3r-subtitle {
    width: 75%;
    padding-left: 10%;
    margin-top: 3vmax;
    font: 400 1.2vmax "montserrat";
    line-height: 2vmax;
    margin-bottom: 1vmax;
}

.p3r-btn {
    margin-left: 10%;
    margin-bottom: 2vmax;
    font: 900 1vmax "montserrat";
    border: none;
    background-color: transparent;
    position: relative;
}

.p3r-btn:before {
    content: "";
    position: absolute;
    left: -15%;
    height: 100%;
    width: 10%;
    background-color: #ffa21b;
    z-index: -1;
    transition: 0.25s all;
}

.p3r-btn:hover::before {
    width: 130%;
}

.p3r-image {
    background-image: url(https://www.forsmarsh.com/wp-content/uploads/2023/02/casestudy-arng-preview.jpg.webp);
    border: none;
    border-bottom: 0 solid #ffa21b;
    border-left: 0 solid #ffa21b;
}

.p3r-image:hover {
    border: none;
    border-bottom: 1vmax solid #ffa21b;
    border-left: 1vmax solid #ffa21b;
}
